# RENOMBRA ESTE ARCHIVO A .env.development Y COMPLETA LOS DATOS EN TU NUEVA PC

# Supabase (Obtenido desde tu proyecto en supabase.com)
EXPO_PUBLIC_SUPABASE_URL=tu_supabase_project_url_aqui
EXPO_PUBLIC_SUPABASE_KEY=tu_supabase_anon_key_aqui

# AniList (OAuth - Obtenido desde Anilist Developer Console)
EXPO_PUBLIC_ANILIST_CLIENT_ID=44722
